<style>
    nav a {
        font-family: 'Nunito', sans-serif;
        color: var(--cor-titulo);
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-weight: 700;
        border-radius: 20px;
        transition: background-color 0.3s;
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
</style>
<nav>
    <a href="index.html">Início</a>
    <a href="clube-aventureiro.html">Clube Aventureiro</a>
    <a href="contato.html">Redes Sociais</a>
</nav> 